<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- リセットcssの読み込み -->
    <link rel="stylesheet" href="./css/reset.css">
    <!-- bootstrapの読み込み -->
    <link rel="stylesheet" href="./css/bootstrap.css">
    <!-- 自作cssの読み込み -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- jqueryとbootstrapの読み込み -->
    <script src="./js/jquery-3.6.0.js"></script>
    <script src="./js/bootstrap.bundle.js"></script>

    <title>練習問題</title>
</head>

<body>
    <div class="container">



    </div>
</body>

</html>