body {
    font-family: "Nico Moji", "RocknRoll One", sans-serif;
}

/* フシギダネのアイコン */
.nes-bulbasaur {
    top: 3rem;
}

/* 右の吹き出し */
.nes-balloon {
    font-size: 1.5rem;
    bottom: 2rem;
}

/* ボタンを横並びにする */
form {
    display: inline-block;
}

/* 打消し線を入れる */
tr.del > td {
    text-decoration: line-through;
}

/* ボタンのセルは打消し線を入れない */
tr.del > td.button {
    text-decoration: none;
}
