body {
    font-family: "Nico Moji", "RocknRoll One", sans-serif;
}

/* フシギダネのアイコン */
.nes-bulbasaur {
    top: 0.5rem;
}

/* 右の吹き出し */
.nes-balloon {
    top: -0.5rem;
    right: -0.5rem;
    padding: 0.6rem;
}

/* ボタンを横並びにする */
form {
    display: inline-block;
}

/* 打消し線を入れる */
tr.del > td {
    text-decoration: line-through;
}

/* ボタンのセルは打消し線を入れない */
tr.del > td.button {
    text-decoration: none;
}
